.body {
    background-color: #f4f6fa;
}

.div {
    max-width: 1650px;
    margin: 3rem auto;
    padding: 3rem;
    border: 1px solid #ccc;
    border-bottom: 100px;
    background-color: #ffffff;
    border-radius: 8px;
}
.div h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.div .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.div .actions button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.actions button.annuler {
    background-color: #dc3545;
}

.actions button.enregistrer {
    background-color: #0c72bc;
    color: white;
}

.div .grid {
    display: grid;
    background-color: #f9f9fb;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 1rem;
}

.column {
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.column form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column form label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.column form input,
.column form select,
.column form textarea {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}