@use "variables" as *;
@use "mixins" as *;

body{
  background-color: #f9f9fb;

  header{
    width: auto;
    margin: 5px;
    flex-direction: column;
    align-items: center;

    .headerBlockOne
    , .headerBlockTwo{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5vw;
      p{
        font-size: 12px;
        color: #b9b9b9;
      }

      h1{
        padding: 0;
      }

    }

    button.adminButton, button.logoutButton {
      margin: 10px 0.5em;
      padding: 5px;
    }

    button.logoutButton {
      background-color: $admin-secondary-color;
      width: 110px;
    }
  }

  main.container {

    padding: $spacing;
    background-color: $color-white;
    border-radius: 8px;
    margin: 40px auto;

    .container-header{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: start;
        margin-bottom: $spacing;

      h1 {
        font-size: 1.5rem;
        margin: 10px 0;
      }

      .container-actions {
        display: flex;
        justify-content: flex-end;
        gap: $spacing;
        margin: 10px 0;

        button {
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-weight: bold;
        }
        .annuler {
          background-color: #dc3545;
          color: white;
        }

        .enregistrer {
          background-color: $color-blue;
          color: white;
        }
      }
    }

    div.container-grid {
      display: flex;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: $spacing;
      overflow-x: scroll;
      max-width: 100%;

      .column {
        flex: 1;
        background: $color-grey;
        padding: $spacing;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-width: 250px;

        h1 {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
        }

        form {
          @include column-layout;
          align-items: center;

          label {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }

          input,
          select,
          textarea {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  header{
    flex-direction: row !important;

    .headerBlockOne
    , .headerBlockTwo{
      flex-direction: row !important;
      align-items: center;
    }
  }

  main.container {
    min-width: 1200px;

    section.container-header {
      flex-direction: row !important;
      align-items: center;

      h1 {
        margin: 0;
      }

      .container-actions {
        margin: 0;
      }
    }
  }
}
