// Couleurs principales
$color-blue: #0c72bc;
$color-white: #ffffff;
$color-grey: #f9f9fb;

// Espacement
$spacing: 1rem;

// Fonts
$font-family: 'Arial', sans-serif;

// Variables-login
$login-background-color: #f5f5f5;
$form-background: #fff;
$border-color: #ddd;
$footer-background: #333;
$text-color: #333;
$secondary-text-color: #555;

// Variables-admin
$admin-secondary-color: color(srgb 0.9177 0.3413 0.2683);
$admin-background-color: color(srgb 0.93 0.95 0.98);
$font-size-large: 12px;
$border-radius: 5px;
$padding: 20px;
$distanceBetweenButtons: 10px;

// Variables-common
$primary-color: #0c72bc;
$secondary-color: #282e30;
$font-family: "simplified arabic", sans-serif;
$header-font-size: 10px;
$button-font-size: 12px;
$button-width: 100px;
$button-radius: 5px;
$footer-color: lightgrey;
$footer-padding: 1em 6em;
$media-min-width: 800px;

