.body {
  .div {
    max-width: 800px;
    max-height: fit-content;
    padding: $spacing;



    .container-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .column{

      }
    }

    .container-tracking {


    }
    .container-adresse {
      display: flex;
      background-color: $color-grey;
      width: 100%;

    }
  }
}